/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: luckiest;
  src: url(../font/luckiestguy-regular-webfont.woff2);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fbf8f5;
  list-style: none;
  font-family: "poppins", sans-serif;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

/* footer {
  background-color: #4e6e58;
  color: black;
} */

/* TEKST START*/
h1 {
  font-family: "luckiest";
  color: #b22f3f;
  font-size: 3rem;
  margin-top: 30px;
}

h2 {
  font-family: "poppins", sans-serif;
  color: #4e6e58;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: "poppins", sans-serif;
  color: #304336;
  font-size: 28px;
}

p {
  font-family: "poppins", sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  font-family: "poppins", sans-serif;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: red;
}

footer {
  background-color: #4e6e58;
  padding: 50px;
  margin-top: 150px;
}
.logo img {
  transform: scale(2);
}
.grid-1-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media (min-width: 800px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
main{
  margin: 20;
  padding: 20;
  align-items: center;
}
}
