/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: luckiest;
  src: url(../font/luckiestguy-regular-webfont.woff2);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary: black;
  /*tekst*/
  --secondary: #fbf8f5;
  /*body*/
  --tertiary: #4e6e58;
  /*h2*/
  --quaternary: #b22f3f;
  /*h1*/
  --quinary: #304336;
  /*h3*/

  --primary-font: " poppins", sans-serif;
  --secondary-font: "luckiest";

  --primary-line-height: 1.5;

  --primary-list-style: none;

  --primary-font-size: 3rem;
  --secondary-font-size: 2rem;
  --tertiary-font-size: 28px;
  --quaternary-font-size: 1rem;
  --quinary-font-size: 1.5rem;

  /*mangler variabler for tekst str*/
}

body {
  background-color: var(--secondary);
  font-family: var(--primary-font);
  list-style: var(--primary-list-style);
  line-height: var(--primary-line-height);
}

/* TEKST START*/
h1 {
  font-family: var(--secondary-font);
  color: var(--quaternary);
  font-size: var(--primary-font-size);
  margin-top: 30px;
}

h2 {
  font-family: var(--primary-font);
  color: var(--tertiary);
  font-size: var(--secondary-font-size);
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: var(--primary-font);
  color: var(--quinary);
  font-size: var(--tertiary-font-size);
}

p {
  font-family: var(--primary-font);
  color: var(--primary);
  font-size: var(--quaternary-font-size);
  line-height: var(--primary-line-height);
}

a {
  font-family: var(--primary-font);
  color: var(--primary);
  font-size: var(--quaternary-font-size);
}

footer {
  background-color: var(--tertiary);
  padding: 50px;
  margin-top: 150px;
}

.socials {
  color: var(--secondary);
}

.grid-1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-between;
  align-items: center;
}
.grid-1-1-1 a {
  text-decoration: none;
}

.nyhedsbrev {
  justify-self: flex-start;
}

.logo img {
  transform: scale(2);
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

form p {
  color: white;
}

form label {
  color: white;
}

form button {
  background-color: #b5c9bb;
  color: var(--tertiary);
}

main {
  margin: 20px;
}

.instalogo {
  width: 10%;
}

@media (min-width: 800px) {
  p {
    font-size: var(--quinary-font-size);
    line-height: var(--primary-line-height);
  }

  main {
    margin: 120px;
  }
}
