.container {
    position: relative;
}

.overskrift {
    font-size: 100px;
    position: absolute;
    left: 23%;
    top: 60%
}

.farve_boks {
    background-color: #b5c9bb;
    padding: 4rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.klik_boks {
    background-color: #f3f3f3;
    padding: 3rem;
    max-width: 40rem;
    margin-top: 4rem;
    align-items: center;
    border: solid #4E6E58 3px;
}

.outline_boks {
    border: solid #4E6E58 3px;
    margin-top: 3rem;
}

.fluesvamp {
    max-width: 50%;
    margin: auto;

}

.grid_1_1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    justify-content: center;
    /* Centrer kolonner vandret */
    align-items: center;
    /* Centrer rækker lodret */
    text-align: center;
    /* Centrer teksten inden for <div> */
}