.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1%;
}

.container img {
  max-width: 100%;
  height: auto;
  width: 700px;
}


a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

/* .overskrift {
  font-size: 100px;
  position: absolute;
  left: 18%;
  top: 80%;
} */
/* .overskrift h1 {
  margin-top: 5px;
} */

.farve_boks {
  background-color: #b5c9bb;
  padding: 4rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.klik_boks:hover {
  background-color: #4e6e58;
}

.klik_boks {
  background-color: #f3f3f3;
  padding: 2rem;
  max-width: 30rem;
  margin-top: 4rem;
  align-items: center;
  border: solid #4e6e58 3px;
}

.outline_boks {
  border: solid #4e6e58 3px;
  margin-top: 3rem;
}

.fluesvamp {
  max-width: 50%;
  margin: auto;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 2%;
  }

  .overskrift {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
  }

  .farve_boks {
    padding: 1rem;
    margin-top: 2rem;
  }

  .klik_boks {
    padding: 1rem;
    max-width: 90%;
    margin-top: 1rem;
    text-align: center;
  }

  .outline_boks {
    margin-top: 1rem;
  }

  .fluesvamp {
    max-width: 70%;
  }

  .grid_1_1 {
    grid-template-columns: 1fr;
  }

}