/*DESKTOP*/ /*DESKTOP*/ /*DESKTOP*/
/*DESKTOP*/ /*DESKTOP*/ /*DESKTOP*/
/*DESKTOP*/ /*DESKTOP*/ /*DESKTOP*/
main {
  background-image: url("../img/2svampe_baggrund.webp");
}
/*billede af 4 svampe og container dertil*/
.svampebaggund {
  width: 700px;
  height: auto;
  margin-top: 80px;
  margin-left: 270px;
  margin-bottom: 80px;
}

/*CATEGORY-MENU, LAVET M. GRID*/
.categorymenu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 400px;
  /* margin: 80px auto; */
  margin-left: 200px;
}

/*CATEGORY-MENU, LAVET M. flexbox*/
.categorymenu div {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: end;
  width: 850px; /*længde på streg under menu-tekst*/
  border-bottom: 2px solid #b22f3f;
  /* text-decoration: none; */
  padding: 10px 0;
  margin: auto;
}

/*skriftstr i menu*/
.categorymenu h2 {
  font-size: 1.2rem;
}
/*svampe-billeder i menu*/
.categorymenu img {
  width: 150px;
  height: 150px;
}

/*styling af link*/
.categorymenu a {
  text-decoration: none;
  align-items: end;
  color: #4e6e58;
}

/*hover-effekt på tekst i menu*/
.categorymenu a:hover h2 {
  color: #b22f3f;
}
/*styling af h2*/
.categorymenu h2 {
  margin-left: 30px;
}

/*MOBILESITE*/ /*MOBILESITE*/
/*MOBILESITE*/ /*MOBILESITE*/
/*MOBILESITE*/ /*MOBILESITE*/
/*MOBILESITE*/ /*MOBILESITE*/

@media screen and (max-width: 768px) {
  /*OVERSKRIFT M. SVAMPE PÅ*/
  .svampebaggund {
    width: 350px;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
    display: block;
  }
  /*CATEGORY-MENU - MOBILESITE: grid*/
  .categorymenu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 400px;
    margin: 80px auto;
  }
  /*CATEGORY-MENU - MOBILESITE: flexbox*/
  .categorymenu div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 400px;
    border-bottom: 2px solid #b22f3f;
    text-decoration: none;
    align-items: end;
  }
  /*styling af svampe-billederne i menuen*/
  .categorymenu img {
    width: 140px;
    height: 140px;
  }
  /*styling af teksten i menuen*/
  .categorymenu a {
    text-decoration: none;
    align-items: end;
    color: #4e6e58;
  }

  /*hover-effekt på teksten i menuen*/
  .categorymenu a:hover {
    color: #0c1910;
    text-decoration: none;
    align-items: end;
  }
  
}
