.produkt-navn {
  color: var(--quaternary);
  font-family: var(--primary-font);
  font-size: var(--secondary-font-size);
  margin-top: 10px;
  margin-bottom: 10px;
}

.id1 {
  font-family: "poppins", sans-serif;
  color: #4e6e58;
  font-weight: bold;
}

.produkt-container {
  display: flex;
  align-items: center;
}

.produkt-billede {
  margin-right: 40px;
  width: 30%;
  position: relative;
  background-color: #b5c9bb;
  padding: 20px;
  margin: 30px;
}

.produkt-info {
  flex: 1;
}

.produkt-beskrivelse {
  position: relative;
  border: 2px solid #b22f3f;
  padding: 10px;
}

.overskrift {
  position: absolute;
}

.breadcrumbs {
  margin: 20px 0;
  font-size: 1.2rem;
  color: var(--tertiary);
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--tertiary);
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.produkt-beskrivelse .overskrift {
  margin: 7%;
  margin-top: 0.5%;
}

.produkt-beskrivelse h2 {
  margin-top: 7%;
  margin-left: 7%;
}


/* .breadcrumbs .current_page {
  font-weight: bold;
  text-decoration: underline;

} */


@media screen and (max-width: 768px) {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .produkt-container {
    flex-direction: column;
    align-items: center;
  }

  .produkt-billede {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5c9bb;
    padding: 10px;
  }

  .produkt-info,
  .produkt-beskrivelse {
    margin: 30px;
    height: 575px;
  }
}